<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <% if (message) { %> <%= message %> <br />
    <% } %>

    <form action="/auth" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Your username or email" /><br /><br />
      <label for="pass">Password</label>
      <input type="text" name="password" placeholder="Your password" />
      <button type="submit">Login</button>
    </form>

    <p>Belom punya akun? Daftar <a href="/auth/register">disini</a></p>
    <a href="/">Home</a>
  </body>
</html>
