<%- include('./partials/htmlHeader') %> 
  <h1>Selamat Datang Hehe</h1>

  <% if (message) { %> <%= message %> <br /><br />
  <% } %>

  <a href="/auth">Login</a><br />
  <a href="/auth/register">Register</a>
<%- include('./partials/htmlFooter') %> 
