<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script> -->
  </head>
  <body>
    <form action="">
      <textarea name="" id="editor" style="width: 50%"></textarea>
      <button type="submit">Submit</button>
    </form>

    <script>
      ClassicEditor.create(document.getElementById("editor"))
        .then((editor) => {
          window.editor = editor;
        })
        .catch((error) => {
          console.error("There was a problem initializing the editor.", error);
        });
    </script>
  </body>
</html>
