<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course <%= data.course.name %></title>
    <style>
      ul {
        padding: 0;
      }
      ul#nav li {
        display: inline;
      }
    </style>
  </head>
  <body>
    <h1>Ruang Belajar</h1>
    <ul id="nav">
      <li><a href="/siswa">My Course</a></li>
      &nbsp;||&nbsp;
      <li><a href="/siswa/profile">Profile</a></li>
      &nbsp;||&nbsp;
      <li><a href="/siswa/logout">Logout</a></li>
    </ul>

    <h1>Course <%= data.course.name %></h1>
    <p><strong>Written by:</strong> <%= data.course.Teacher.username %></p>
    <p><%= data.course.description %></p>
    <br />
    <a href="/siswa">Kembali</a>
  </body>
</html>
