<%- include('../partials/htmlHeader') %>
  <h1>Ruang Belajar</h1>
  <ul id="nav">
    <li><a href="/siswa">My Course</a></li>
    &nbsp;||&nbsp;
    <li><a href="/siswa/profile">Profile</a></li>
    &nbsp;||&nbsp;
    <li><a href="/siswa/logout">Logout</a></li>
  </ul>

  <h1>Top Up</h1>
  <form action="/siswa/topup" method="POST">
    <label for="money">Nominal</label>
    <input type="number" name="money" id="money" /><br /><br />
    <button type="submit">Top up</button>
  </form>

  <br />
  <a href="/siswa">Kembali</a>
<%- include('../partials/htmlFooter') %>
